.pio
env/
pcb/**/Gaggimate-backups
pcb/**/*.kicad_sch_old
.vscode
.idea
node_modules/
__pycache__
data/w
data/p/
data/h/
device-data/
.codebuddy
src/version.h
src/display/ui/default/lvgl/project.info
.DS_Store
out/
shots/
